<html>

<head>
	<meta charset="UTF-8" />
	<title>如何封装SAP Screen Component</title>

</head>

<body>
	<h1>如何封装SAP Screen Component</h1>
	<h4>我们以C50下MB03为例</h4>
	<img src="ScreenComponent.jpg" />
	<article>
		<ol>
			<li>
				<div>
					<h3>命名</h3>
					<p>做过SAP GUI测试的同学都知道，SAP GUI每个页面都有一个编号，同时，每个页面也会有一个Title， 如截图所示，在这一屏里我们的Title为Display Material Document:Initial Screen,所以我们会以Title来命名我们的
						Class Name,又由于C#的变量命名规则，所以我们将Class Name命名为DisplayMaterialDocument_Initial_Screen
					</p>
				</div>
			</li>
			<li>
				<div>
					<h3>封装</h3>
					<ol>
						<li>
							<h4>属性封装</h4>
							<p>对于本例来说，我们有两个属性需要封装，一个是Material Doc. 另一个是Mat.Doc.Year</p>
							<iframe src="prop.html" width="100%"></iframe>
							
						</li>
						<li>
							<h4>方法封装</h4>
							<p>对于单个Screen的一些内部操作比如Button我们可以封装成方法，对于本例来讲，页面上有两个Button,一个Overview,一个Header,所以我们可以封装成两个方法</p>
							<iframe src="method.html" width="100%" height="240"></iframe>
							
						</li>
					</ol>
				</div>
			</li>
			<li>
				<div>
					<h3>继承</h3>
					<p><strong>所有的SCREEN必须派生自SAPGuiScreen并实现接口IFillData</strong>,其中IFillData接口主要包含一个无参无返回值的方法
						<br/>如果当前屏幕不包含数据录入，可以让接口的FillData留空</p>
					<iframe src="interface.html" width="100%" height="300"></iframe>

				</div>
			</li>
			<li>
				<div>
					<h3>添加绑定</h3>
					<p>由于在测试环境中我们需要将我们定义的属性作参数化，所以需要绑定到外部数据源，完整代码如下</p>
					<iframe src="complete.html" width="100%" height="600"></iframe>
					
				</div>
			</li>
		</ol>
	</article>
</body>

</html>